.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-image {
    width: 200px;
}

.product-name {
    font-size: 16px;
    text-align: start;
}

.producer-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: raleway;
}

.product-rank {
    text-align: start;
    color: gold;
}