{{!-- {{#each books}} --}}
<div class='book'>
  <h2 class='book-title'>{{title}}</h2>
  <p class='book-description'>{{author}}</p>
  <p class='book-description'>{{genres}}</p>
  <p class='book-description'>{{rating}}</p>
</div>
{{!-- {{/each}} --}}